body{
    margin: 0;
    padding: 0;
}

.phone-verification {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #080710;    
}

.verification-content {
    display: flex;
    background-color: #C7ECEE;
    padding: 10px;
    color: black;
    text-align: center;
    border-radius: 10px;
    border: none !important;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-image: url(img/wave.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.verification-content .border {
    border-right:4px double black;
    padding: 12px;
}


.row{
    padding: 16px;
}

.verification-content h1{
    color: black;
}

.verification-content p{
    font-size: 18px;
    font-weight: 500;
}

.verification-content img {
    height: 80px;
}

.verification-content input {
    height: 35px;
    width: 230px;
    padding-left: 15px;
    border: 1px solid black;
    outline: none;
    border: none;
    border-radius: 5px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-bottom: 6px;
}

.verification-content button {
    width: 180px;
    padding: 7px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 14px;
    border: none;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

#recaptcha-container {
    margin-top: 10px;
}


.rc-anchor-normal {
    height: 74px;
    width: 293px  !important;
}