* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

:root {
    --primaryColor: #10AC84;
    --secondaryColor: #fff;
}


.container {
    min-height: 300px;
    width: 350px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: var(--primaryColor);
    padding: 30px 15px;
    border-radius: 10px;
    color: var(--secondaryColor);
    margin-bottom: 25px;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}

.content h3 {
    font-size: 14px;
    font-weight: 400;
}

.content button {
    width: 70px !important;
    font-size: 12px !important;

}

.container .flex {
    display: flex;
    flex-direction: column;
}

.container .top-h2 {
    padding-bottom: 20px;
}

.container input {
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    height: 40px;
    background-color: transparent;
    color: var(--secondaryColor);
    margin-bottom: 5px;
}

input::placeholder {
    color: #fff;
}

.container button {
    width: 140px;
    padding: 6px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 10px;
}

.container input ::placeholder {
    color: #fff !important;
}

.container .h-task {
    margin-top: 10px;
}


.container p {
    height: 20px;
    border: 1px solid #fff;
    border-radius: 3px;
    padding: 10px 7px;
    margin-top: 15px;
    font-size: 16px;
}

.container .createTask i {
    padding-left: 120px;
}



div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    width: 200px;
    background-color: var(--primaryColor) !important;
}