@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--secondaryColor);
}


:root {
    --primaryColor: #C7EBED;
    --secondaryColor: #000000;
}

.container {
    min-height: 300px;
    width: 350px;
    margin: 0 auto;
    margin-top: 100px;
    background-color: var(--primaryColor);
    padding: 30px 15px;
    border-radius: 10px;
    color: var(--secondaryColor);
    margin-bottom: 25px;
    background-image: url(img/wave.svg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
}

.content {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    align-items: center;
}

.content h3 {
    font-size: 16px;
    font-weight: 400;
}

.content button {
    width: 70px !important;
    font-size: 12px !important;

}

.container .flex {
    display: flex;
    flex-direction: column;
}

.container .top-h2 {
    padding-bottom: 20px;
}

.container input {
    border: none;
    border-bottom: 1px solid #000000;
    outline: none;
    height: 40px;
    background-color: transparent;
    color: var(--secondaryColor);
    margin-bottom: 5px;
    width: 80%;
}

input::placeholder {
    color: #000000;
}

.container button {
    width: 140px;
    padding: 6px;
    cursor: pointer;
    text-transform: uppercase;
    border: none;
    border-radius: 3px;
    font-size: 16px;
    margin-top: 10px;
    background-color: #ffff;
}

.container input ::placeholder {
    color: #000000 !important;
}

.container .h-task {
    margin-top: 10px;
}


.container p {
    height: 20px;
    border: 1px solid #000000;
    border-radius: 3px;
    padding: 10px 7px;
    margin-top: 15px;
    font-size: 16px;
}

.paragraph {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 1.3em !important;
}

.container .paragraph button {
    width: unset;
    margin: unset;
    padding: unset;
}

.paragraph>a {
    display: flex;
    gap: 25px;
}

.firebase_del {
    background-color: transparent;
}

/* .container .createTask i {
    padding-left: 120px;
} */


.container .border-none input {
    border-bottom: none !important;
}


.input_field button {
    width: 220px;
}

.content button {
    background-color: transparent !important;
}

.flexBtn {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.content button .bx {
    font-size: 22px;
    margin-top: 30px;
}


div:where(.swal2-container) button:where(.swal2-styled).swal2-confirm {
    width: 200px;
    background-color: var(--primaryColor) !important;
}